*{
    box-sizing: border-box;
    background-color: #995db5;
}
h1{
    color: #473434;
    text-align: center;
}
.out1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.out2 {
    border: 2px dotted rgb(74, 51, 51);
    width: 50%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin: 3%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 13px;
    color: rgb(24, 37, 89);
    font-size: 18px;
    font-weight: 700;
}
#numb40{
    position: sticky;
    top: 2px;
    background-color: maroon;
}
#numb50{
    position: fixed;
    bottom: 10px;
    background-color: aqua;
}
#numb30{
    position: relative;
    top: 15px;
    left: 40px;
    background-color: rebeccapurple;
}
#numb20{
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: #fff;
}
#numb10{
    position: static;
    top: 20px;
    right: 30px;
    bottom: 40px;
    left: 10px;
    background-color: khaki;
}