body{
    background: #242B2E;
}
h1{
    color: #ffffff;
}
.button{
    background-color:#E83A59 ;
    border: none;
    color: #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 8px;
}